<!DOCTYPE html>
<html>
<head>
	<title>GDP Analysis</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">
body {
  background-image: url('https://previews.123rf.com/images/goodstocker/goodstocker1812/goodstocker181200286/126831198-gdp-gross-domestic-product-concept-with-keywords-letters-and-icons-colored-flat-vector-illustration-.jpg');
}
	</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				 <div class="page-header">
    				<h1 style="font-size:500%;color:red;">GDP Analysis</h1>
  				</div>
			</div>
		</div>
	</div>

	

	<div class="container">
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-6">
				<div class="p-2 my-2 border">
			  		<h3><h3 style="font-size:300%;color:blue;"> GDP is Predicted to be :- {{prediction}}</h3></h3>
				</div>
			</div>
		</div>
	</div>


	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>