<!DOCTYPE html>
<html>
<head>
	<title>GDP Analysis</title>
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	<style type="text/css">
body {
  background-image: url('https://assets.vccircle.com/uploads/2018/08/GDPbyshahjunaid.jpg');
}
	</style>
</head>
<body>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color:white;font-size:350%;">GDP Analysis</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
    	<li><a href="#" style="color:white;font-size:350%;">Home</a></li>
      <li><a href="/predict" style="color:white;font-size:350%;">Predict</a></li>
    </ul>
  </div>
</nav>
  
<div class="container">
  <h3 style="font-size:400%;color:red;">Introduction</h3>
  <p style="color:#646807 ;font-size:250%;"> GDP stands for "Gross Domestic Product" and represents the total monetary value of all final goods and services produced (and sold on the market) within a country during a period of time (typically 1 year). Purpose. GDP is the most commonly used measure of economic activity.</p>
</div>

</body>
</html>
